{% extends "layout.html" %}
{% block body %}

<section class="hero is-primary is-medium">
    <div class="hero-head">
        <div class="container">
            <h1 class="title">
                RaspberryOiler
                SystemConsole
            </h1>
        </div>
    </div>
</section>

<br>

<h4 class="title is-4">
    Setting
</h4>

<form method="post" action="/setting">
    <div class="field">
            <label class="label">Wait for start(sec)</label>
            <p class="control">
              <input class="input is-primary is-hovered" type="number" name="wait" value={{ wait }}>
            </p>
    </div>
    <div class="field">
            <label class="label">Release(sec)</label>
            <p class="control">
              <input class="input is-primary is-hovered" type="number" name="release" value={{ release }}>
            </p>
    </div>
    <div class="field">
            <label class="label">Interval(sec)</label>
            <p class="control">
              <input class="input is-primary is-hovered" type="number" name="interval" value={{ interval }}>
            </p>
    </div>
    <br> 
    <input class="button is-primary is-large is-fullwidth" type="submit" value="Save">
</form>

<br>

<h4 class="title is-4">
        Control
</h4>
    
<div class="columns is-mobile">
    <div class="column">
        <form method="post" action="/start">  
            <button name="post_value" value="from post" class="button is-info is-large is-fullwidth">
                Start
            </button> 
        </form>  
    </div>
    <div class="column">
        <form method="post" action="/stop">  
            <button name="post_value" value="from post" class="button is-warning is-large is-fullwidth">
                Stop
            </button>  
        </form>  
    </div>
</div>

<div class="columns is-mobile">
        <div class="column">
            <form method="post" action="/maintenance">  
                <button name="post_value" value="from post" class="button is-danger is-large is-fullwidth">
                    Maintenance
                </button>  
            </form>  
        </div>
</div>

{% endblock %}
